body{
	text-align: center;
	font-family: 'Sarala', sans-serif;
	font-weight: bold;
}

#imgWrapper{
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
}

#img1, #img2, #img3{
	margin: 20px;
}

#img1:hover{
	transform: scale(1.2, 1.2);
}

#img2:hover{
	transform: scale(1.2, 1.2);
}

#img3:hover{
	transform: scale(1.2, 1.2);
}

@keyframes keyframeThing{
	0% {opacity: 1;}
	/*70% {background-color: #F6FE01;}
*/	100% {top: 0px;}
	100% {opacity: 0;}
}

.divClass{
	animation: keyframeThing 4s;
	opacity: 0;
}

.divClassRed{
	animation: keyframeThing 4s;
	opacity: 0;
}

.divClassBlue{
	animation: keyframeThing 4s;
	opacity: 0;
}